NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:3000

DATABASE_URL="postgresql://user:pass@localhost:5432/medivac"
REDIS_URL="redis://localhost:6379"

JWT_SECRET=super-secret
JWT_EXPIRES=2h

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
DRIVE_ROOT_FOLDER=Clientes
